*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}
body{
    background-color: rgb(173, 92, 0);
    margin-top: 25px;
    color: white;
    font-size: 22px;
}
h1{
    font-size: 60px;
    color: white;
}
p{
    margin-left: 25px;
    margin-right: 25px;
}
#text2{
    text-decoration: lightcoral wavy underline;
}
#pp{
    font-size: 30px;
}